{% extends 'base.html' %}
{% load app_filters %}


{% block title %}Task{% endblock %}


{% block content %}
<div class="container mt-5">
        <form method="POST">
            {% csrf_token %}
            {{form.title | tabindex:1}}
            <input type="submit">
        </form>
    {% for task in completed_tasks %}
        <a href="#" class="list-group-item list-group-item-action mt-2">
            <div class="d-flex w-100 justify-content-between">
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <h5 class="mb-1">{{ task.title }}</h5>
                        </div>
                        <div class="col-sm">
                        <p class="mb-1 " style="float: right;">
                                <small class="text-muted"> {{task.created}} </small>
                                 taskid:{{task.id}}<input class="form-check-input" type="checkbox" value="True" id="{{task.id}}" {% if task.complete %}checked{% endif %}>
                        </p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    {% endfor %}

</div>


{% endblock %}
