{% extends 'base.html' %}
{% load app_filters %}


{% block title %}Task{% endblock %}


{% block content %}
<div class="container mt-5">
    user: {{request.user}}
        <form method="POST">
            {% csrf_token %}
            {{form.title}}
            <input class="btn btn-outline-primary" type="submit">
        </form>
        <div class="mt-4">Tasks:</div>
    {% for task in unfinished_tasks %}
        <ul class="list-group">
            {% for batch in batch_list %}
                <li class="list-group-item mt-1">
                    <div class="row">
                        <div class="col-sm">
                            {{ task.title }}
                        </div>
                        <div class="col-sm">
                            <p class="mb-1 " style="float: right;">
                                <form action="{% url 'tasks:undo' task.id %}" method="POST" style="float: right">
                                    {% csrf_token %}
                                    <button type="submit" action="#"class="btn btn-outline-success btn-sm">Done</button>
                                </form>


                                <small class="text-muted" style="float: right;"> {{task.created}} </small>
                            </p>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}

        <div class="pt-4 mt-4">Completed task/s:</div>
    {% for task in completed_tasks %}
    <ul class="list-group">
        {% for batch in batch_list %}
            <li class="list-group-item mt-1">
                <div class="row">
                    <div class="col-sm">
                        {{ task.title }}
                    </div>
                    <div class="col-sm">
                        <p class="mb-1 " style="float: right;">
                            <form action="{% url 'tasks:undo' task.id %}" method="POST" style="float: right">
                                {% csrf_token %}
                                <button type="submit" action="#"class="btn btn-outline-danger btn-sm">Undo</button>
                            </form>
                            <small class="text-muted" style="float: right;"> {{task.created}} </small>
                        </p>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>

    {% endfor %}


    <div class="mt-4">Tasks from previous day:</div>
    <ul class="list-group">
        {% for batch in batch_list %}

        <li class="list-group-item">
            <div class="row">
                <div class="col-sm">
                    {{batch}}
                </div>
                <div class="col-sm">
                    <a href="#" class="btn btn-outline-primary btn-sm" style="float: right;">View</a>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>

</div>


{% endblock %}
